<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book-Store</title>

  <style>
          /* ----------------------------------------------------- Navbar ---------------------------------------------------------- */
    /* Base styling */
    .header {
      background-image: url(headerimg.jpg);
      background-size: cover;
      overflow: hidden;
      font-size: large;
      font-family: 'Gill Sans', 'Gill SansMT', Calibri, ' Trebuchet MS', sans-serif;
    }

    /* Style the header links */

    /*  line-height: 25px;*/

    #navlinks {
      float: left;
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      margin-top: 30px;
      margin-right: 20px;
      padding: 10px;
      text-decoration: none;
      border-radius: 10px;
    }

    /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */


    /* Change the background color on mouse-over */
    #navlinks:hover {
      background-color: rgb(76, 151, 76);
      color: white;
    }

    /* Style the active/current link*/
    .header a.active {
      background-color: rgb(0, 0, 0);
      color: white;
    }

    /* Float the link section to the right */
    .header-right {
      float: right;
    }

    /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
    @media screen and (max-width: 500px) {
      .header a {
        float: none;
        display: block;
        text-align: left;
      }

      .header-right {
        float: none;
      }
    }

    #cart {
      margin-right: 15px;
      margin-top: 20px;
    }

    #cart:hover {
      transform: scale(1.1);
    }

    * {
      margin: 0;
    }

    #logout_link {
      margin-right: 15px;
      margin-bottom: 10px;
    }

    #logout_link:hover {
      transform: scale(1.1);
    }

    /* ------------------- MAIN BOOKS ---------------------------------- */
    .book {
      display: inline-block;
      width: 250px;
      /* height: 390px; */
      box-shadow: 0 0 30px #aaa;
      margin: 52px;
      padding: 10px 10px 0 10px;
      vertical-align: top;
      transition: height 1s;
    }

    .cover {
      height: 70%;
      overflow: hidden;
    }


    .cover img {
      width: 100%;
    }

    .book p {
      margin-top: 12px;
      font-size: 20px;
    }

    .book .author {
      font-size: 15px;
    }

    .price {
      float: right;
    }

    @media (max-width: 941px) {
      .container {
        max-width: 700px;
      }
    }

    @media (max-width: 300px) {
      .book {
        display: block;
        margin-top: 50px;
         margin_bottom: 50px;
      }
    
    }

    #cart_button {
      float: right;
      height: 30px;
      width: 40px;
      margin-top: 10px;
    }

    #wiki {
      float: left;
      background-color: dodgerblue;
      color: white;
      height: 28px;
      width: 50%;
      border-radius: 50px;
      margin-top: 10px;
      margin-bottom: 20px;
      border: none;
      cursor: pointer;
    }


    footer{
      text-align: center;
      font-family: 'Dancing Script', cursive;
      width: auto;
      
    }
  </style>
</head>

<body>
  <header>
    <div class="header">
      <a href="#default" class="headerlogo"><img src="https://cdn-icons-png.flaticon.com/128/3532/3532358.png"
          alt="logo" height="90px" width="100px" /></a>
      <div class="header-right">
        <a class="active" href="/home" id="navlinks">Home</a>
        <a href="/contact" id="navlinks">Contact</a>
        <a href="/about" id="navlinks">About</a>

        <a href="/cart"><img id="cart" width="60" height="60"
            src="cart.png"
            alt="Cart"></a>
        <a href="/logout"><img width="48" height="48" id="logout_link"
            src="logout.png" alt="logout" /></a>
      </div>
  </header>
  
  <main>

    {{#each cartitems}}
    <div class="book">
      <div class="cover">
        <img src="{{this.imageLink}}" alt="Loading...">
      </div>
      <div class="description">
        <h2 class="book-name">{{this.title}}</h2>
        <h3 class="author"><em>By: </em>{{this.author}}</h3>
        <h3 class="price">$ {{this.price}}</h3>
        <p class="language"><em>language: </em>{{this.language}}</p>

        <a href="{{this.link}}"><button type="submit" id="wiki">Wikipedia</button></a>
        <a href="/removeitem/{{this.id}}"><img src="remove.png" alt="remove" id="cart_button"></a>
      </div>
    </div>
    {{/each}}
  </main>

  <footer>
    <h2>Total price : $ {{price}}</h2>
  </footer>

</body>

</html>